@tailwind base;
@tailwind components;
@tailwind utilities;

.clickEffect {
  @apply duration-500 active:translate-y-1;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

:root {
  --box-sizing: border-box;
  --clr-main: #1b5127;
}

.btn-div button {
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-div button:before,
.btn-div button:after {
  transform: translateX(100%);
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
}

.btn-div button:before {
  bottom: 0;
  left: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}

.btn-div button:after {
  top: 0;
  left: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
}

.btn-div button:hover {
  color: inherit;
  text-decoration: none;
}

.btn-div button:hover:before {
  transition: .2s transform linear, .2s height linear .2s;
  transform: translateX(0);
  height: 100%;
  border-color: var(--clr-main);
}

.btn-div button:hover:after {
  transition: .2s transform linear .3s, .2s height linear .4s;
  transform: translateX(0);
  height: 100%;
  border-color: var(--clr-main);
}



.mobile-mockup {
  position: sticky;
  top: 120px;
}

.window-peak {
  background-image: url(https://ik.imagekit.io/gqdvppqpv/background.jpeg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 767px) {
  .non-mobile {
    display: none !important;
  }
}


@media all and (min-width: 766px) {
  .only-mobile {
    display: none !important;
  }
}