.product-showcase {
    width: 100vw;
    height: 820px;
    position: relative;
    overflow: hidden;
    background-color: #2f2f2f;
    background-size: cover;
    background-position: right top;
    z-index: -10;
    padding-bottom: 300px;
}

.showcase-wrapper {
    min-height: 70%;
}

.showcase-ui {
    position: absolute;
    bottom: 10;
    left: 50%;
    width: 350px;
}

#phone-left-2 {
    transform: translate(-160%, 25%);
    z-index: 98;
}

#phone-left-1 {
    transform: translate(-105%, 15%);
    z-index: 99;
}

#phone-center {
    transform: translate(-50%, 5%);
    z-index: 100;
}

#phone-right-1 {
    transform: translate(5%, 15%);
    z-index: 99;
}

#phone-right-2 {
    transform: translate(60%, 25%);
    z-index: 98;
}